%btn {
  display: inline-block;
  font-family: $font-family-button;
  text-decoration: none;
  color: $st-dark-gray;
  font-size: 0.8em;
  line-height: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1em 2em;
  border: 2px solid $st-dark-gray;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color:transparent;

  // hovering on the btn
  &:hover, &:focus {
    color: lighten($st-dark-gray, 10%);
    text-decoration: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button

.white-btn {
  @extend %btn; // here we load the btn defaults

  &:hover,
  &:focus {
    // color: $white;
    // border-color: $white;
    border-radius:1em;
    color: $st-dark-gray;
  } // end hover

  &:active {
    // border-color: $white;
  } // end active

} // end blue button

button, .btn, input[type="submit"] {
  @extend %btn;
}