%btn {
  display: inline-block;
  position: relative;
  font-family: $font-family-button;
  text-decoration: none;
  color: $white;
  font-size: $font-size-base * 0.8;
  line-height: 1.5;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;

  .btn-text {
    position: relative;
    z-index: 1;
  }


  // hovering on the btn
  &:hover, &:focus {
    color: $link-color;
    text-decoration: none;
  } // end hover

  // clicking on the button
  &:active {
  } // end active

} // end .button

.underline-btn {
  @extend %btn;
  border-bottom: 1px dashed $link-color;
  margin: 1rem;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-top: 1px dashed $link-color;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 0;
  }

  &:hover,
  &:focus {
    &:after {
      height: 100%;
      opacity: 1;
    }
  } // end hover

  &:active {
    // border-color: $white;
  } // end active
}

.white-btn {
  @extend %btn; // here we load the btn defaults

  &:hover,
  &:focus {
    // color: $white;
    // border-color: $white;
    border-radius:1em;
    color: $st-dark-gray;
  } // end hover

  &:active {
    // border-color: $white;
  } // end active

} // end blue button

button, .btn, input[type="submit"] {
  @extend %btn;
}
