
#the-collective {

  margin-top: 4rem;

  @include susy-breakpoint($desktop, $desktop-columns){
    position: relative;
    height: 10000vh;
    margin-top: 0;
  }

  #slides-container {
    top: 14rem;
    left: auto;

    @include susy-breakpoint($desktop, $desktop-columns){
      top: 7rem;
      width: auto;
    }
  }

  .section {
    opacity: 1;
    transition: $base-transition;
    margin-bottom: 10rem;

    @include susy-breakpoint($desktop, $desktop-columns){
      margin-bottom: 0;
    }

    &.is-hidden {
      @include susy-breakpoint($desktop, $desktop-columns){
        opacity: 0;
      }
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .heading {
    position: relative;

    p {
      position: relative;
      top: -1.8em;
    }
  }

  #collective {
    position: relative;
  }

  #scrollInstr {
    margin-top: 5rem;

    .fa {
      margin-left: 0.5em;
      animation: pulse 2s ease infinite;
    }

    @include susy-breakpoint($desktop, $desktop-columns){
      display: block;
    }
  }

  .studiotrope-text {
    position: relative;
    color: $emphasis-color;
    font-size: $font-size-base * 3;
    margin-bottom: 0;
    line-height: 0.25;
    margin-top: 5rem;
  }

  .pronunciation {
    position: relative;
    color: $link-color;
  }

  .definition {
    position: relative;
    margin: 0;
    font-size: $font-size-base;
  }

  p {
    position: relative;
  }

  .studio-name {
    display: block;
    position: relative;
    font-weight: 100;
    color: $link-color;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: $font-size-base * 1.5;
    margin-top: 0;
  }


  .description {
    margin-top: 5rem;
    font-size: $font-size-base * 0.8;
  }

  .studio-title {
    font-size: $font-size-base;
    color: $emphasis-color;
  }

}

.the-collective {
  .mobile-dropdown {
    background-color: $white;
    position: fixed;
    top: $header-bar-height;
    left: 0;

    @include susy-breakpoint($desktop, $desktop-columns){
      position: static;
      background-color: transparent;
    }
  }
}

.slide-link {
  cursor: pointer;
  color: $emphasis-color;
  font-weight: 700;
  border-bottom: $base-border-dashed;

  @include susy-breakpoint($desktop, $desktop-columns){
    margin-top: 1em;
    border-bottom: none;
  }

  &.active {
    color: $link-color;
  }

}

.sub-slide-link {
  cursor: pointer;

  &.active {
    color: $link-color;
  }

}
