.page-template-template-collective {
  .page-title {
    margin-bottom: 2em;
  }
}
#the-collective {

  .mix {
    display: inline-block;
  }

  #spacing-fix {
    display: none;
    padding-top: 2rem;
    height: 5rem;
    width: 100%;

    @include susy-breakpoint($desktop, $desktop-columns) {
      padding-top: 6rem;
      padding-bottom: 2rem;
    }
  }

  #collective {
    position: relative;
  }

  #scrollInstr {
    margin-top: 5rem;

    .fa {
      margin-left: 0.5em;
      animation: pulse 2s ease infinite;
    }

    @include susy-breakpoint($desktop, $desktop-columns){
      display: block;
    }
  }

  .studiotrope-text {
    position: relative;
    color: $emphasis-color;
    font-size: $font-size-base * 3;
    margin-bottom: 0;
    line-height: 0.25;
  }

  .pronunciation {
    position: relative;
    color: $link-color;
  }

  .definition {
    position: relative;
    margin: 0;
    font-size: $font-size-base;
  }

  p {
    position: relative;
  }



  .description {
    margin-top: 5rem;
    font-size: $font-size-base * 0.8;

    h3 {
      font-family: $font-family-details;
      display: block;
      position: relative;
      font-weight: 100;
      color: $link-color;
      text-transform: uppercase;
      letter-spacing: .1em;
      font-size: $font-size-base * 1.25;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .studio-title {
    font-size: $font-size-base;
    color: $emphasis-color;
  }

}

#collective-heading {

  display: block;
  margin-top: 2em;
  margin-bottom: 3em;
  height: 3em;

  .page-title {
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }

  @include susy-breakpoint($desktop, $desktop-columns){
    margin-top: 0;
  }
}

.the-collective {
  .mobile-dropdown {
    background-color: $white;
    top: $header-bar-height;
    left: 0;

    @include susy-breakpoint($desktop, $desktop-columns){
      position: static;
      background-color: transparent;
    }
  }

  .contextual-module {
    height: 4.5rem;

    @include susy-breakpoint($desktop, $desktop-columns){
      padding: ($header-bar-height + 4) 4rem 6rem;
    }
  }
}

#collective-menu {

  li.menu-item-has-children {
    @include susy-breakpoint($desktop, $desktop-columns){
      margin-bottom: 1em;
    }
  }

  &>li>a {
    font-weight: 700;
    color: $st-dark-gray;
  }

  li.current-menu-item>a {
    color: $link-color;
  }

}
