
#contact-image {
  @include susy-breakpoint($desktop, $desktop-columns) {
    @include span(7 of 12);
  }
}

#contact-info {
  text-align: center;

  @include susy-breakpoint($desktop, $desktop-columns) {
    @include span(5 of 12 last);
    text-align: left;
  }

  p:first-child {
    @include susy-breakpoint($desktop, $desktop-columns) {
      margin-top: 0;
    }
  }
}

.employment {
  text-align: left;
  font-size: $font-size-base * 0.6;
  margin-top: 5rem;
}

.contact {

  .address, .phone, .email {
    color: $emphasis-color;
    font-weight: 700;
  }

  .dropdown-button {
    display: block;

    @include susy-breakpoint($desktop, $desktop-columns) {
      border-bottom: none;
      border-top: none;
      padding-left: 0;
      font-weight: 700;
    }
  }
}
