/**
 * partials/sidebar
 * ---
 */

.contextual-module {
  padding: 2rem;
  z-index: 3;

  @include susy-breakpoint($desktop, $desktop-columns) {
    @include span(3);
    height: auto;
    background-color: $st-off-white;
    padding: ($header-bar-height + 4) 4rem 6rem;
    border-right: $base-border-medium-dashed;
    margin-right: 0;
    margin-top: -$header-bar-height;
    margin-bottom: 0;
  }

  @include susy-breakpoint($large, $large-columns) {
    @include span(4);
  }

  .troper-thumb {
    display: inline-block;
    width: 17%;
    margin-right: 1%;
    margin-top: 1%;
  }

  .label {
    font-weight: 600;
    color: $emphasis-color;
  }

  .value {
    margin-bottom: 1em;
  }

  &.is-fixed {
    position: fixed;
    top: 8rem;
    width: 100%;
  }
}
