.dropdown {
  display: none;
  line-height: 1.5;

  @include susy-breakpoint($desktop, $desktop-columns) {
    display: block;
  }

  li {
    background-color: $st-off-white;
    border-top: $base-border-medium-dashed;
    padding: 1em;
    padding-left: 2rem;

    @include susy-breakpoint($desktop, $desktop-columns) {
      background-color: transparent;
      border-top: none;
    }
  }
}

.dropdown-button {
  &:after {
    content: ' \25BE';
    @include susy-breakpoint($desktop, $desktop-columns) {
      content: "";
    }
  }
}

.dropdown-sublist {
  display: none;

  @include susy-breakpoint($desktop, $desktop-columns) {
    display: block;
  }

  div {
    background-color: $st-off-white;
    border-top: $base-border-medium-dashed;
    padding-left: 2rem;

    @include susy-breakpoint($desktop, $desktop-columns) {
      background-color: transparent;
      border-top: none;
    }
  }

  .fa {
    padding-right: .25em;
  }

  label {
    padding: 1em;
    display: inline-block;

    @include susy-breakpoint($desktop, $desktop-columns) {
      padding: 0;
    }
  }

  input {
    &:not([disabled]) + label {
      cursor: pointer;
    }

    &:disabled + label {
      color: $st-lightest-gray;
    }
  }


}

.dropdown-sublist-title {
  display: block;
  width: 100%;
  padding: 1em;
  border-top: $base-border-medium-dashed;

  @include susy-breakpoint($desktop, $desktop-columns) {
    background-color: transparent;
    border-top: none;
    padding: .5em;
  }
}
