.emphasis {
  padding-top: gutter();
  padding-bottom: gutter();
  border-top: $base-border-medium-dashed;
  border-bottom: $base-border-medium-dashed;
  box-sizing: content-box;
  text-align: center;
  font-size: $font-size-base * 1.75;
  font-family: $font-family-testimonial;
  font-weight: 100;
  letter-spacing: 1px;

  .source {
    font-size: $font-size-base;
    color: $emphasis-color;
    display: block;

    @include susy-breakpoint($tablet, $tablet-columns) {
      display: inline;
    }
  }
}

.timelapse {
  position: relative;
  overflow: auto;

  .scroll-container {
    position: absolute;
    overflow: auto;
    width: 100%;
  }

  .dummy-content {
    display: block;
    width: 100%;
  }

  .overlay {
    opacity: 1;
    text-align: center;
    color: $white;
    font-size: $font-size-base;
    background-color: rgba(0,0,0,0.5);
    transition: $base-transition;

    .fa {
      display: block;
      position: absolute;
      top: 50%;
      font-size: $font-size-base * 2;
      transform: translate(0, -50%);
      width: 100%;
    }

    &.scrolled {
      opacity: 0;
    }
  }

  .image {
    position: absolute;
    overflow: hidden;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }
}

