/**
 * partials/footer
 * ---
 */


.footer {
  background-color: $st-lightest-gray;
  height: $footer-height;
  position: relative;
  z-index: 1;

  .copyright {
    text-align: center;
    margin: 0;
  }

}
