.l_full {
	width: 100%;
}

.l_two_thirds {

	@include breakpoint(tablet) {
		@include span(2*$tablet-columns/3 of $tablet-columns);
	}

	@include breakpoint(desktop) {
		@include span(2*$desktop-columns/3 of $desktop-columns);
	}
}

.l_one_half {

	@include breakpoint(tablet) {
		@include span($tablet-columns/2 of $tablet-columns);
	}

	@include breakpoint(desktop) {
		@include span($desktop-columns/2 of $desktop-columns);
	}
}

.l_one_third {

	@include breakpoint(tablet) {
		@include span($tablet-columns/3 of $tablet-columns);
	}

	@include breakpoint(desktop) {
		@include span($desktop-columns/3 of $desktop-columns);
	}
}

.last { @include last; }

.l-content-module {
	margin: gutter()/2 0;

	@include breakpoint(tablet) {
		margin: gutter($tablet-columns)/2 0;
	}

	@include breakpoint(desktop) {
		margin: gutter($desktop-columns)/2 0;
	}
}

.full-bleed {
	@include bleed(0 $mobile-container-padding);

	@include breakpoint(tablet) {
		@include bleed(0 $tablet-container-padding);
	}

	@include breakpoint(desktop) {
		@include bleed(0 $desktop-container-padding);
	}
}