.icon {
  fill: $st-orange;
}

.sdc-icons-container {
  width:100%;
}

.sdc-icons {
  position: relative;
  width: 100%;
}

.architecture-icon, .graphics-icon, .interiors-icon {
  width: 33.3333%;
}

.architecture-icon {
  width: 15rem;
  height: 7.5rem;
  bottom: -1.5rem;
  left: -1rem;
}

.graphics-icon {
  width: 15rem;
  height: 7.5rem;
  bottom: -1.5rem;
  left: -1rem;
}

.interiors-icon {
  width: 15rem;
  height: 7.5rem;
  bottom: -1.5rem;
  left: -1rem;
}

.header-icon {
  opacity: .3;
  position: absolute;
}

.icons-combined {
  width: 15rem;
  height: 7.5rem;
  bottom: -1.5rem;
  left: -1rem;
}
