.icon {
  fill: $st-orange;
}

.sdc-icons-container {
  width:100%;
}

.sdc-icons {
  position: relative;
  width: 100%;
}

.architecture-icon, .graphics-icon, .interiors-icon {
  width: 33.3333%;
}

.architecture-icon {
  height: 8rem;
}

.graphics-icon {
  height: 7rem;
}

.interiors-icon {
  height: 8rem;
}

.header-icon {
  opacity: .1;
  position: absolute;
}

.icons-combined {
  width: 10rem;
  height: 5rem;
  bottom: 0rem;
  left: -1rem;
}
