.mix, .gap {
  display: inline-block;
  width: span(4 of 4);

  @include susy-breakpoint($tablet, $tablet-columns) {
    width: span(4 of 8);
  }

  @include susy-breakpoint($desktop, $desktop-columns) {
    width: span(4 of 12);
  }

  @include susy-breakpoint($large, $large-columns) {
    width: span(4 of 16);
  }
}

.mix {
  position: relative;
  display: none;
  text-align: left;
  margin-bottom: gutter();
  height: $thumb-height;
  overflow: hidden;

  @include susy-breakpoint($tablet, $tablet-columns) {
    margin-bottom: gutter();
  }

  @include susy-breakpoint($desktop, $desktop-columns) {
    margin-bottom: gutter();
    height: $thumb-height;
  }

  @include susy-breakpoint($large, $large-columns) {
    margin-bottom: gutter();
  }
}

#thumbnail-toggle {
  .fa {
    position: relative;
    top: -0.5rem;
    right: 0.25rem;
    color: $link-color;
    cursor: pointer;
  }

  .tooltip {
    position: absolute;
    opacity: 0;
    bottom: 1rem;
    left: 0.5rem;
    padding: 0 1em;
    width: 20rem;
    letter-spacing: 0;
    background-color: $white;
    border: $base-border;
    box-shadow: $base-box-shadow;
    transition: $base-transition;
    text-transform: none;
    color: $text-color;
    cursor: default;
    z-index: 10;

    a {
      color: $link-color;
    }

    &.is-shown {
      opacity: 1;
    }
  }
}

