.mobile-dropdown {
  position: absolute;
  top: $header-bar-height;
  background-color: $st-off-white;
  width: 100%;
  height: $header-bar-height;
  line-height: $header-bar-height;
  box-shadow: $base-box-shadow;
  border-bottom: $base-border;
  z-index: 1;

  &.show {
    position: fixed;

    @include susy-breakpoint($desktop, $desktop-columns) {
      position: static;
    }
  }

  @include susy-breakpoint($desktop, $desktop-columns) {
    background-color: transparent;
    position: static;
    height: auto;
    line-height: $line-height-base;
    box-shadow: none;
    border-bottom: none;
  }

  h1, h2, p {
    margin: 0;
  }

  h2 {
    padding-left: 2rem;

    @include susy-breakpoint($desktop, $desktop-columns) {
      display: none;
    }

  }

  &+div, &+section {
    margin-top: $header-bar-height;

    @include susy-breakpoint($desktop, $desktop-columns) {
      margin-top: 0;
    }
  }

  form {
    input[type="checkbox"] {
      position: absolute;
      left: -9999px;

      &:checked~label, &:checked~.fa {
        font-weight: 700;
        color: $st-orange;
      }
    }

    legend {
      color: $emphasis-color;
      font-weight: 700;
    }

    button {
      border: none;
      outline: none;
    }

    @include susy-breakpoint($desktop, $desktop-columns) {
      legend {
        padding: 0;
        padding-top: 1rem;
      }
    }
  }
}
