/**
 * partials/nav
 * ---
 * Menus
 */

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: $mobile-nav-width;
  background-color: $st-lightest-gray;
  height: 100%;

  #nav-contents {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
  }

  #nav-logo {
    padding: 2em 0 2em 4em;
    width: 70%;
  }

  ul {
    padding: 0;
    margin: 0;
    border-top: $base-border-medium-dashed;
  }

  li {
    font-family: $font-family-nav;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: $base-border-medium-dashed;

    a {
      color: lighten($st-dark-gray, 20%);
      padding: 1em 4em;
      width: 100%;
      height: 100%;
      display: block;
      left: 0;
      transition: all 0.3s ease;

      &:hover {
        color: $st-dark-gray;
        left: 2px;
      }

      &:after {
        box-shadow: none;
      }
    }
  }
}

#nav-social {
  text-align: justify;

  &:after{
    content: '';
    display: inline-block;
    width: 100%;
  }

  .fa {
    display: inline-block;
  }
}
.menu {}

.sub-menu {}

.menu-item {}


