/**
 * partials/nav
 * ---
 * Menus
 */

nav {
  li {
    font-family: $font-family-nav;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

#nav-mobile {
  position: fixed;
  left: 0;
  top: 0;
  width: $mobile-nav-width;
  background-color: $st-lightest-gray;
  height: 100%;
  z-index: 0;

  #nav-contents {
    position: absolute;
    top: 0;
    width: 100%;
  }

  #nav-logo {
    display: inline-block;
    padding: 2em 0 0 4em;
    width: 70%;
  }

  .search {
    padding: 2em 0;
    width: 80%;
    margin: 0 auto;
  }

  ul {
    padding: 0;
    margin: 0;
    border-top: $base-border-medium-dashed;
  }

  li {
    border-bottom: $base-border-medium-dashed;

    a {
      position: relative;
      color: lighten($st-dark-gray, 20%);
      padding: 1em 4em;
      width: 100%;
      height: 100%;
      display: block;
      left: 0;
      transition: all 0.3s ease;

      &:hover {
        color: $st-dark-gray;
        left: 2px;
      }

      &:after {
        box-shadow: none;
      }
    }
  }
}

#nav-social {
  padding: 2em 0 2em 4em;
  .fa {
    display: inline-block;
    padding-right: 2em;
  }
}

#prev-next-links {
  display: none;
  position: absolute;
  bottom: 2rem;
  width: 100%;

  @include susy-breakpoint($desktop, $desktop-columns) {
    display: block;
  }

  a {
    display: block;
    font-size: $font-size-base * 0.5;
  }
  .fa {
    font-size: $font-size-base * 2;
    vertical-align: middle;
  }

  .prev-next-text {
    position: relative;
    top: .25rem;
  }

  .next-link {
    float: right;
    width: 50%;
  }

  .prev-link {
    float: left;
    width: 50%;
  }
}
