.project-details {
  background-color: $st-off-white;
  padding: 4rem $mobile-container-padding;

  @include susy-breakpoint($desktop, $desktop-columns) {
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    border-right: 1px dashed $st-lightest-gray;
    left: 0;
  }

  .project-details-content {

    @include susy-breakpoint($desktop, $desktop-columns) {
      padding: 3em;
      position: fixed;
      overflow: auto;
      top: $nav-bar-height;
      left: 0;
      max-height: 94%;
      &::-webkit-scrollbar { 
        display: none; 
      }
    }
  }

  .stuck {
    @include susy-breakpoint($desktop, $desktop-columns) {
      position: absolute;
      bottom: $footer-height;
      top: auto;
      width: 100%;
    }
  }

  h1 {
    margin-top: 0
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
  }

  li {
  }

  p {
    font-size: $font-size-base * 0.7;
  }

  .troper-avatar {
    margin: 1em 0;
    width: 5em;
    height: 5em;
    border-radius: 100%;
  }
}

.project-detail-label {
  font-weight: 600;
  color: $emphasis-color;
}

.project-detail-value {
  margin-bottom: 1em;
}

.project-contents {
  @include last;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.project-video {

}

.project-testimonial {
  padding-top: gutter();
  padding-bottom: gutter();
  border-top: $base-border-medium-dashed;
  border-bottom: $base-border-medium-dashed;
  box-sizing: content-box;
  text-align: center;
  font-family: $font-family-testimonial;
  font-weight: 100;
  letter-spacing: 1px;

  .testimonial-source {
    font-size: $font-size-base;
    color: $emphasis-color;
    display: block;

    @include susy-breakpoint($tablet, $tablet-columns) {
      display: inline;
    }
  }
}
