.archive, .search {

  .category {
    color: $emphasis-color;
  }

  .value {
    color: $link-color;
  }

  .query-text {
    margin-bottom: 0;
  }

  .all-projects-link {
    display: block;
    margin-bottom: 2em;
  }

}


#filter-reset {
  color: $link-color;
  font-weight: 400;
  padding: 1em;
  background-color: transparent;
  font-size: $font-size-base * 0.6;

  &:disabled {
    color: $st-lightest-gray;
  }

  @include susy-breakpoint($desktop, $desktop-columns) {
    padding: 1rem 0 0 0;
  }
}

#filter-instructions {
  display: none;

  @include susy-breakpoint($desktop, $desktop-columns) {
    display: block; 
    margin-bottom: 1em;
  }
}

#filter-description {
  opacity: 0;
  transition: $base-transition;
  padding: 1em 0;

  &.is-shown {
    opacity: 1;
  }
}

.filter {
  position: relative;
  background-color: $white;
  z-index: 2;

  @include susy-breakpoint($desktop, $desktop-columns) {
    width: auto;
    position: static;
    height: 100%;
    box-shadow: none;
    top: auto;
    right: auto;
    background-color: transparent;
  }
}

.single-filter {
  padding: 0;
  margin: 0;
}

#projects-index, #people-index {
  text-align: justify;
  padding: $mobile-container-padding 0;

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  } 
}

.toggle-option {
  cursor: pointer;

  &.is-selected {
    color: $emphasis-color;
    font-weight: 700;
  }
}

.project-thumb {
  display: block;
  filter: grayscale(100%) contrast(70%);
  transform: translate3d(-2rem, 0, 0);
  transition: $base-transition;
  width: calc(100% + 2rem);
  min-height: 100%;
  background-size: cover;
  background-position: center;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.project-voice-thumb {
  position: absolute;
  bottom: 3rem;
  left: 0;
  max-height: 80%;
  padding: 1rem 0 1rem 3rem;
  font-size: $font-size-base * 1.2;
  font-weight: 700;
  font-family: $font-family-header;
  color: $emphasis-color;
  overflow: hidden;
  transition: $base-transition;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.mix {

  h3 {
    display: block;
    position: absolute;
    max-width: $thumb-height;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: $white;
    opacity: 0.6;
    margin: 0;
    font-size: $font-size-base * 0.6;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    transition: $base-transition;
    bottom: -1rem;
    left: 1rem;
    font-family: $proxima-cond;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;

    &.is-dark {
      color: $text-color;
    }
  }

  &:hover {
    h3 {
      opacity: 1;
      transform: rotate(0);
      bottom: 1rem;
      left: 1rem;
      white-space: normal;
    }

    .project-thumb {
      filter: grayscale(0);
      transform: translate3d(0, 0, 0);
    }

    .project-voice-thumb {
      left: -2rem;
      padding-right: 2rem;
      color: $link-color;
    }
  }
}

