.project-details {
	padding-top: gutter();
	padding-bottom: gutter();
	border-top: $base-border-medium-dashed;
	border-bottom: $base-border-medium-dashed;
	background-color: $st-lightest-gray;
	margin-top: 2*gutter();

	@include susy-breakpoint($tablet, $tablet-columns) {
		padding-top: gutter();
		padding-bottom: gutter();
		margin-top: 2*gutter();
	}

	@include susy-breakpoint($desktop, $desktop-columns) {
		padding-top: gutter();
		padding-bottom: gutter();
		margin-top: 2*gutter();
	}

	@include susy-breakpoint($large, $large-columns) {
		padding-top: gutter();
		padding-bottom: gutter();
		margin-top: 2*gutter();
	}

	h1 {
		margin-top: 0
	}

	td {
		padding-right: 2em;

		&:last-child {
			padding-right: 0;
		}
	}

	.troper-avatar {
		margin: 1em 0;
		width: 5em;
		height: 5em;
		border-radius: 100%;
	}
}

.project-detail-label {
	font-weight: 400;
}

.project-contents {

	&:after {
		content: "";
	  display: table;
		clear: both;
	}
}

.project-video {

}

.project-testimonial {
	padding-top: gutter();
	padding-bottom: gutter();
	border-top: $base-border-medium-dashed;
	border-bottom: $base-border-medium-dashed;
	box-sizing: content-box;
	text-align: center;
	font-family: $font-family-testimonial;
	font-weight: 100;
	letter-spacing: 1px;
	background-color: $st-lightest-gray;

	.testimonial-source {
		font-size: $font-size-base;
		color: $emphasis-color;
		display: block;

		@include susy-breakpoint($tablet, $tablet-columns) {
			display: inline;
		}
	}
}