/**
 * partials/sidebar
 * ---
 */

.l-sidebar {
  padding: 3rem;

  @include susy-breakpoint($desktop, $desktop-columns) {
    @include span(3);
    border-right: $base-border-medium-dashed;
    background-color: $st-off-white;

    &.mobile-control-bar.l-wide, &.mobile-control-bar.l-narrow {
      background-color: $st-off-white;
      @include span(3);
      right: auto;
    }
  }

  @include susy-breakpoint($large, $large-columns) {
    @include span(4 of 16);

    &.mobile-control-bar.l-wide, &.mobile-control-bar.l-narrow {
      @include span(4 of 16);
    }
  }
}
