#troper-profile-picture {
  display: block;
  width: 100%;
  top: 0;

  @include susy-breakpoint($desktop, $desktop-columns) {
    @include span(4 of 7);
  }
}

#troper-profile-info {
  width: 100%;
  padding: 2rem 0;

  @include susy-breakpoint($desktop, $desktop-columns) {
    @include span(3 of 7 last);
    padding: 0;
  }

  h1 {
    margin-bottom: 0;
  }

  .email {
    color: $link-color;
  }

  h2 {
    margin-bottom: 0;
  }

  .detail {
    margin-top: 0;
  }
}

.single-troper {
  .contextual-module {
    .label {
    }
    .value {
      margin-bottom: 0;
    }
  }

  .troper {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}
