body {
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-header;
  font-weight: 400;
  line-height: 1.25;
}

h1 {
  font-size: $font-size-base * 1.25;
  color: $emphasis-color;
}

p {
  font-size: 0.8*$font-size-base;
}

.detail {
  font-family: $font-family-details;
  font-size: $font-size-base * 0.7;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

a {
  transition: all .3s ease;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $link-color;
  }

  &:active, &:visited, &:focus {
  }

}

q {
  quotes:	"“" "”";
  font-size: $font-size-base * 1.75;
  padding-right: 0.1em;
  font-style: italic;
  color: $text-color;
  line-height: 1;
}

