/**
 * partials/wrapper
 * ---
 */


.l-wrapper {
	position: relative;
	background-color: $white;
	padding-top: 4em;
	z-index: 1;
	transition: 0.3s;

  &.is-pushed {
    transform: translate3d($mobile-nav-width, 0, 0);
    box-shadow: -1px 0 10px 0 #ddd;
  }
}

.l-container {
	@include container;
	margin: 0 $mobile-container-padding;

	@include susy-breakpoint($tablet, $tablet-columns) {
		@include container($tablet-columns);
		margin: 0 $tablet-container-padding;
	}

	@include susy-breakpoint($desktop, $desktop-columns) {
		@include container($desktop-columns);
		margin: 0 $desktop-container-padding;
	}

	@include susy-breakpoint($large, $large-columns) {
		@include container($large-columns);
		margin: 0 $large-container-padding;
	}
}