/**
 * partials/wrapper
 * ---
 */

body {

  &.is-pushed {
    overflow: hidden !important;
    .transition-container {
      left: $mobile-nav-width;
      box-shadow: -1px 0 10px 0 #ddd;
    }
    @include susy-breakpoint($desktop, $desktop-columns) {
      .is-fixed {
        transform: translateX($mobile-nav-width);
      }
    }
    .is-fixed-mobile {
      transform: translateX($mobile-nav-width);

      @include susy-breakpoint($desktop, $desktop-columns) {
        transform: none;
        .is-fixed {
          transform: none;
        }
      }
    }
  }
}

#view {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
  top:0;
  left: 0;
  right: 0;
}

main {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.l-wrapper {
  flex: 1;
  background-color: $white;
  padding-top: $header-bar-height;
  transition: 0.3s;
  position: relative;
  z-index: 1;
}

.transition-container{
  transition: all 0.3s ease;
  left: 0;
}

.l-container {
  @include container;
  margin: 0 $mobile-container-padding;

  @include susy-breakpoint($tablet, $tablet-columns) {
    @include container($tablet-columns);
    margin: 0 $tablet-container-padding;
  }

  @include susy-breakpoint($desktop, $desktop-columns) {
    @include container($desktop-columns);
    margin: 0 $desktop-container-padding;
  }

  @include susy-breakpoint($large, $large-columns) {
    @include container($large-columns);
    margin: 0 $large-container-padding;
  }
}

.l-container-w-side {
  @include container;
  padding: 0 $mobile-container-padding;
  background-color: $white;
  width: 100%;

  @include susy-breakpoint($tablet, $tablet-columns) {
    .l-full-bleed {
      margin-right: 0;
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include susy-breakpoint($desktop, $desktop-columns) {
    @include span(isolate 7 at 5);
    padding: 5rem 0;
  }

  @include susy-breakpoint($large, $large-columns) {
    @include span(isolate 10 at 6);
  }

}

