/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$gothic: "ff-basic-gothic-web-pro", Helvetica, Arial, "Open Sans", sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
$facit: "jaf-facitweb", Helvetica, Arial, "Open Sans", sans-serif;
$adelle: "adelle", serif;


$font-family-base: $facit;
$font-family-nav: $facit;
$font-family-header: $adelle;
$font-family-button: $facit;
$font-size-base: 140%;
$line-height-base: 1.5;


/**
 * Colors
 */

$white: #fff;
$st-lightest-gray: #eee;
$st-medium-gray: #aaa;
$st-dark-gray: #444;
$st-orange: #d18b00;

$text-color: $st-dark-gray;
$body-bg: $white;
$selection-bg: $st-orange;


/**
 * Grid
 */

 $susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 4,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

$mobile-wrapper-width: 90%;
$wrapper-width: 1280px;
$mobile-nav-width: 20em;


$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;

$base-border: 1px solid $st-lightest-gray;
$base-border-dashed: 1px dashed $st-lightest-gray;
$base-border-medium: 1px solid $st-medium-gray;
$base-border-medium-dashed: 1px dashed $st-medium-gray;
$base-box-shadow: 0 1px 2px 0 $st-lightest-gray;