/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$gothic:          "ff-basic-gothic-web-pro", Helvetica, Arial, "Open Sans", sans-serif;
$helvetica:       "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
$facit:           "jaf-facitweb", Helvetica, Arial, "Open Sans", sans-serif;
$adelle:          "adelle", serif;
$freight-big:     "freight-big-pro", serif;
$garamond:        "adobe-garamond-pro", serif;
$fira:            "fira-mono",sans-serif;
$pragmatica-cond: "pragmatica-web-condensed", sans-serif;
$proxima-cond:    "proxima-nova-condensed", sans-serif;
$bookmania:       "bookmania", sans-serif;

$font-family-base: $facit;
$font-family-nav: $facit;
$font-family-header: $bookmania;
$font-family-button: $facit;
$font-family-testimonial: $adelle;
$font-family-details: $proxima-cond;
$font-size-base: 140%;
$line-height-base: 1.5;

$mobile: 400px;
$tablet: 768px;
$desktop: 1024px;
$large: 1400px;

/**
 * Colors
 */

$white: #fff;
$st-off-white: #fafafa;
$st-lightest-gray: #eee;
$st-medium-gray: #999;
$st-dark-gray: #444;
$st-orange: #d18b00;
$st-pink: #D41772;

$text-color: $st-medium-gray;
$link-color: $st-orange;
$emphasis-color: $st-dark-gray;
$body-bg: $white;
$selection-bg: $st-orange;


/**
 * Grid
 */

$mobile-columns  : 4;
$tablet-columns  : 8;
$desktop-columns : 12;
$large-columns : 18;

 $susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: $mobile-columns,
  gutters: .5,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

// @include breakpoint(tablet) {
//   @include layout($tablet-columns);
// }

// @include breakpoint(desktop) {
//   @include layout($desktop-columns);
// }

$mobile-container-padding: 2rem;
$tablet-container-padding: 2rem;
$desktop-container-padding: 5rem;
$large-container-padding: 5rem;
$mobile-nav-width: 30rem;
$nav-bar-height: 6rem;
$footer-height: 8rem;
$mobile-control-bar-height: 5rem;

$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;

$base-border: 1px solid $st-lightest-gray;
$base-border-dashed: 1px dashed $st-lightest-gray;
$base-border-medium: 1px solid darken($st-lightest-gray, 15%);
$base-border-medium-dashed: 1px dashed darken($st-lightest-gray, 15%);

$base-box-shadow: 0 1px 2px 0 rgba(0,0,0, 0.1);
