@charset "UTF-8";
/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "jaf-facitweb", Helvetica, Arial, "Open Sans", sans-serif;
  font-size: 140%;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: #444;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: underline;
}

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit;
}

::selection {
  background-color: #d18b00;
  color: #fff;
  text-shadow: none;
}

/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Alignment
 */
.alignnone {
  margin: 5px 15px 15px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
  margin: 5px 0 15px 15px;
}

.alignleft {
  float: left;
  margin: 5px 15px 15px 0;
}

/**
 * Gallery & images
 */
.wp-caption {
  background: #fff;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: 5px 5px;
  text-align: center;
}
.wp-caption img {
  width: auto;
  max-width: 98.5%;
  height: auto;
  border: 0 none;
  padding: 0;
  margin: 0;
}

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 5px 5px;
  font-size: 140%;
  line-height: 1.5;
}

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, .clear:after {
  content: " ";
  display: table;
}
.clear:after {
  clear: both;
}

.reset-box {
  padding: 0;
  margin: 0;
}

/**
 * partials/wrapper
 * ---
 */
.l-wrapper {
  position: relative;
  background-color: #fff;
  padding-top: 4em;
  z-index: 1;
  transition: 0.3s;
}
.l-wrapper.is-pushed {
  transform: translate3d(20em, 0, 0);
  box-shadow: -1px 0 10px 0 #ddd;
}

.l-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 0 1em;
}
.l-container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 768px) {
  .l-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 2em;
  }
  .l-container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1024px) {
  .l-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 5em;
  }
  .l-container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1400px) {
  .l-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 10em;
  }
  .l-container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media (min-width: 768px) {
  .l_full {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  .l_full {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1400px) {
  .l_full {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .l_two_thirds {
    width: 65.2173913043%;
    float: left;
    margin-right: 4.347826087%;
  }
}
@media (min-width: 1024px) {
  .l_two_thirds {
    width: 65.7142857143%;
    float: left;
    margin-right: 2.8571428571%;
  }
}
@media (min-width: 1400px) {
  .l_two_thirds {
    width: 66.0377358491%;
    float: left;
    margin-right: 1.8867924528%;
  }
}

@media (min-width: 768px) {
  .l_one_half {
    width: 47.8260869565%;
    float: left;
    margin-right: 4.347826087%;
  }
}
@media (min-width: 1024px) {
  .l_one_half {
    width: 48.5714285714%;
    float: left;
    margin-right: 2.8571428571%;
  }
}
@media (min-width: 1400px) {
  .l_one_half {
    width: 49.0566037736%;
    float: left;
    margin-right: 1.8867924528%;
  }
}

@media (min-width: 768px) {
  .l_one_third {
    width: 30.4347826087%;
    float: left;
    margin-right: 4.347826087%;
  }
}
@media (min-width: 1024px) {
  .l_one_third {
    width: 31.4285714286%;
    float: left;
    margin-right: 2.8571428571%;
  }
}
@media (min-width: 1400px) {
  .l_one_third {
    width: 32.0754716981%;
    float: left;
    margin-right: 1.8867924528%;
  }
}

.last {
  float: right;
  margin-right: 0;
}

.l-content-module {
  margin: 4.5454545455% 0;
}
@media (min-width: 768px) {
  .l-content-module {
    margin: 2.1739130435% 0;
  }
}
@media (min-width: 1024px) {
  .l-content-module {
    margin-top: 1.4285714286% 0;
  }
}
@media (min-width: 1400px) {
  .l-content-module {
    margin-top: 0.9433962264% 0;
  }
}

.l-full-bleed {
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 1em;
}
@media (min-width: 768px) {
  .l-full-bleed {
    margin-right: -2em;
    margin-left: -2em;
    padding-right: 2em;
    padding-left: 2em;
  }
}
@media (min-width: 1024px) {
  .l-full-bleed {
    margin-right: -5em;
    margin-left: -5em;
    padding-right: 5em;
    padding-left: 5em;
  }
}
@media (min-width: 1400px) {
  .l-full-bleed {
    margin-right: -10em;
    margin-left: -10em;
    padding-right: 10em;
    padding-left: 10em;
  }
}

/**
 * partials/header
 * ---
 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 8em;
}

.logo-img {
  width: 100%;
}

.lines-button {
  display: block;
  margin: 0;
  line-height: 0;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 2em;
}
.lines-button.is-pushed {
  left: 0;
}
.lines-button:hover {
  opacity: 1;
}
.lines-button:active {
  transition: 0;
  border: none;
}

.lines {
  display: inline-block;
  width: 2rem;
  height: 0.3333333333rem;
  background: #444;
  transition: 0.1s;
  position: relative;
  /*create the upper and lower lines as pseudo-elements of the middle line*/
}
.lines:before, .lines:after {
  display: inline-block;
  width: 2rem;
  height: 0.3333333333rem;
  background: #444;
  transition: 0.1s;
  position: absolute;
  left: 0;
  content: '';
  transform-origin: 0.1428571429rem center;
}
.lines:before {
  top: 7px;
}
.lines:after {
  top: -7px;
}

.lines-button:hover {
  opacity: 1;
}
.lines-button:hover .lines:before {
  top: 9px;
}
.lines-button:hover .lines:after {
  top: -9px;
}

.lines-button.x.close .lines {
  /*hide the middle line*/
  background: transparent;
  /*overlay the lines by setting both their top values to 0*/
}
.lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
  transform-origin: 50% 50%;
  top: 0;
  width: 2rem;
}
.lines-button.x.close .lines:before {
  transform: rotate3d(0, 0, 1, 45deg);
}
.lines-button.x.close .lines:after {
  transform: rotate3d(0, 0, 1, -45deg);
}

/**
 * partials/nav
 * ---
 * Menus
 */
.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 20em;
  background-color: #eee;
  height: 100%;
}
.nav ul {
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: "jaf-facitweb", Helvetica, Arial, "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 1px dashed #e1e1e1;
}
.nav li a {
  padding: 2em 4em;
  width: 100%;
  height: 100%;
  display: block;
}
.nav li a:after {
  box-shadow: none;
}

/**
 * partials/sidebar
 * ---
 */
/**
 * partials/footer
 * ---
 */
.footer {
  padding: 1em;
  background-color: #eee;
}
.footer .copyright {
  text-align: center;
}

/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
body {
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-family: "adelle", serif;
  font-weight: 600;
}

h1 {
  font-size: 420%;
  line-height: 1;
}

p {
  font-size: 140%;
}

.detail {
  font-family: "proxima-nova-condensed", sans-serif;
  font-size: 84%;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .detail {
    font-size: 98%;
  }
}

a {
  display: inline-block;
  position: relative;
  transition: box-shadow .3s ease;
  text-decoration: none;
}
a:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  box-shadow: inset 0 -4px 0 rgba(209, 139, 0, 0.3);
  margin-top: 4px;
}
a:hover, a :active, a :visited, a :focus {
  text-decoration: none;
}
a:hover:after, a :active:after, a :visited:after, a :focus:after {
  box-shadow: inset 0 -1em 0 rgba(209, 139, 0, 0.3);
}
a.no-underline:after {
  box-shadow: none;
  content: none;
  display: none;
}

q {
  quotes: "“" "”";
  font-size: 245%;
  padding-right: 0.1em;
  font-style: italic;
  color: #444;
  line-height: 1;
}

.white-btn, button, .btn, input[type="submit"] {
  display: inline-block;
  font-family: "jaf-facitweb", Helvetica, Arial, "Open Sans", sans-serif;
  text-decoration: none;
  color: #444;
  font-size: 0.8em;
  line-height: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1em 2em;
  border: 2px solid #444;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}
.white-btn:hover, button:hover, .btn:hover, input[type="submit"]:hover, .white-btn:focus, button:focus, .btn:focus, input[type="submit"]:focus {
  color: #5e5e5e;
  text-decoration: none;
}
.white-btn:active, button:active, .btn:active, input[type="submit"]:active {
  top: 1px;
}

.white-btn:hover, .white-btn:focus {
  border-radius: 1em;
  color: #444;
}

form input, form textarea {
  border: 1px solid #eee;
  padding: 1em;
  outline: none;
}
form input:focus, form textarea:focus {
  border: 1px solid #eee;
  border-color: #d18b00;
}

.project-details {
  padding-top: 9.0909090909%;
  padding-bottom: 9.0909090909%;
  border-top: 1px dashed #e1e1e1;
  border-bottom: 1px dashed #e1e1e1;
  background-color: #eee;
  margin-top: 18.1818181818%;
}
@media (min-width: 768px) {
  .project-details {
    padding-top: 4.347826087%;
    padding-bottom: 4.347826087%;
    margin-top: 8.6956521739%;
  }
}
@media (min-width: 1024px) {
  .project-details {
    padding-top: 2.8571428571%;
    padding-bottom: 2.8571428571%;
    margin-top: 5.7142857143%;
  }
}
@media (min-width: 1400px) {
  .project-details {
    padding-top: 1.8867924528%;
    padding-bottom: 1.8867924528%;
    margin-top: 3.7735849057%;
  }
}
.project-details h1 {
  margin-top: 0;
}
.project-details td {
  padding-right: 2em;
}
.project-details td:last-child {
  padding-right: 0;
}
.project-details .troper-avatar {
  margin: 1em 0;
  width: 5em;
  height: 5em;
  border-radius: 100%;
}

.project-detail-label {
  font-weight: 400;
}

.project-contents:after {
  content: "";
  display: table;
  clear: both;
}

.project-testimonial {
  padding-top: 9.0909090909%;
  padding-bottom: 9.0909090909%;
  border-top: 1px dashed #e1e1e1;
  border-bottom: 1px dashed #e1e1e1;
  box-sizing: content-box;
  text-align: center;
  font-family: "adelle", serif;
  font-weight: 100;
  letter-spacing: 1px;
  background-color: #eee;
}
.project-testimonial .testimonial-source {
  font-size: 140%;
  color: #aaa;
  display: block;
}
@media (min-width: 768px) {
  .project-testimonial .testimonial-source {
    display: inline;
  }
}

/*# sourceMappingURL=style.css.map */
