@charset "UTF-8";
/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "jaf-facitweb", Helvetica, Arial, "Open Sans", sans-serif;
  font-size: 140%;
  line-height: 1.5;
  color: #999;
  background-color: #fff;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: #999;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: underline;
}

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit;
}

::selection {
  background-color: #d18b00;
  color: #fff;
  text-shadow: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Alignment
 */
.alignnone {
  margin: 5px 15px 15px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
  margin: 5px 0 15px 15px;
}

.alignleft {
  float: left;
  margin: 5px 15px 15px 0;
}

/**
 * Gallery & images
 */
.wp-caption {
  background: #fff;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: 5px 5px;
  text-align: center;
}
.wp-caption img {
  width: auto;
  max-width: 98.5%;
  height: auto;
  border: 0 none;
  padding: 0;
  margin: 0;
}

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 5px 5px;
  font-size: 140%;
  line-height: 1.5;
}

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, .clear:after {
  content: " ";
  display: table;
}
.clear:after {
  clear: both;
}

.reset-box {
  padding: 0;
  margin: 0;
}

.is-fixed, .is-fixed-mobile {
  transition: transform .3s ease;
}

/**
 * partials/wrapper
 * ---
 */
body.is-pushed {
  overflow: hidden !important;
}
body.is-pushed .transition-container {
  left: 30rem;
  box-shadow: -1px 0 10px 0 #ddd;
}
@media (min-width: 1024px) {
  body.is-pushed .is-fixed {
    transform: translateX(30rem);
  }
}
body.is-pushed .is-fixed-mobile {
  transform: translateX(30rem);
}
@media (min-width: 1024px) {
  body.is-pushed .is-fixed-mobile {
    transform: none;
  }
  body.is-pushed .is-fixed-mobile .is-fixed {
    transform: none;
  }
}

#view {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
}

main:after {
  content: "";
  display: table;
  clear: both;
}

.l-wrapper {
  flex: 1;
  background-color: #fff;
  padding-top: 6rem;
  transition: 0.3s;
  position: relative;
  z-index: 1;
}

.transition-container {
  transition: all 0.3s ease;
  left: 0;
}

.l-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 0 2rem;
}
.l-container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 768px) {
  .l-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 2rem;
  }
  .l-container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1024px) {
  .l-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 5rem;
  }
  .l-container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1800px) {
  .l-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 5rem;
  }
  .l-container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.l-container-w-side {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
  background-color: #fff;
  width: 100%;
}
.l-container-w-side:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 768px) {
  .l-container-w-side .l-full-bleed {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1024px) {
  .l-container-w-side {
    width: 57.1428571429%;
    float: left;
    margin-left: 34.2857142857%;
    margin-right: -100%;
    padding: 5rem 0;
  }
}
@media (min-width: 1800px) {
  .l-container-w-side {
    width: 61.7021276596%;
    float: left;
    margin-left: 31.914893617%;
    margin-right: -100%;
  }
}

@media (min-width: 768px) {
  .l_full {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  .l_full {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1800px) {
  .l_full {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .l_two_thirds {
    width: 65.2173913043%;
    float: left;
    margin-right: 4.347826087%;
  }
}
@media (min-width: 1024px) {
  .l_two_thirds {
    width: 65.7142857143%;
    float: left;
    margin-right: 2.8571428571%;
  }
}
@media (min-width: 1800px) {
  .l_two_thirds {
    width: 65.9574468085%;
    float: left;
    margin-right: 2.1276595745%;
  }
}

@media (min-width: 768px) {
  .l_one_half {
    width: 47.8260869565%;
    float: left;
    margin-right: 4.347826087%;
  }
}
@media (min-width: 1024px) {
  .l_one_half {
    width: 48.5714285714%;
    float: left;
    margin-right: 2.8571428571%;
  }
}
@media (min-width: 1800px) {
  .l_one_half {
    width: 48.9361702128%;
    float: left;
    margin-right: 2.1276595745%;
  }
}

@media (min-width: 768px) {
  .l_one_third {
    width: 30.4347826087%;
    float: left;
    margin-right: 4.347826087%;
  }
}
@media (min-width: 1024px) {
  .l_one_third {
    width: 31.4285714286%;
    float: left;
    margin-right: 2.8571428571%;
  }
}
@media (min-width: 1800px) {
  .l_one_third {
    width: 31.914893617%;
    float: left;
    margin-right: 2.1276595745%;
  }
}

.last {
  float: right;
  margin-right: 0;
}

.l-content-module {
  margin: 4.5454545455% 0;
}
@media (min-width: 768px) {
  .l-content-module {
    margin: 2.1739130435% 0;
  }
}
@media (min-width: 1024px) {
  .l-content-module {
    margin-top: 1.4285714286% 0;
  }
}
@media (min-width: 1800px) {
  .l-content-module {
    margin-top: 1.0638297872% 0;
  }
}

.l-full-bleed {
  margin-right: -2rem;
  margin-left: -2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
@media (min-width: 768px) {
  .l-full-bleed {
    margin-right: -2rem;
    margin-left: -2rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media (min-width: 1024px) {
  .l-full-bleed {
    margin-right: -5rem;
    margin-left: -5rem;
    padding-right: 5rem;
    padding-left: 5rem;
  }
}
@media (min-width: 1800px) {
  .l-full-bleed {
    margin-right: -5rem;
    margin-left: -5rem;
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

/**
 * partials/header
 * ---
 */
#header-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 6rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 2;
}
#header-bar.show {
  position: fixed;
}
#header-bar .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 14rem;
}
@media (min-width: 1024px) {
  #header-bar .logo {
    position: static;
    transform: none;
    float: left;
    width: 20rem;
    padding: 1.6rem 4rem;
  }
}
#header-bar .logo-img {
  width: 100%;
}
#header-bar ul {
  display: none;
  float: left;
  margin: 0;
  padding: 2rem 0;
}
@media (min-width: 1024px) {
  #header-bar ul {
    display: inline-block;
  }
}
#header-bar ul li {
  display: inline-block;
  margin-right: 2rem;
  font-size: 84%;
  font-weight: 100;
  letter-spacing: 0.2em;
}

#nav-open-overlay {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  transition: all 0.3s ease;
}

body.is-pushed #nav-open-overlay {
  visibility: visible;
  opacity: 1;
}

#nav-toggle {
  float: left;
  margin: 0;
  padding: 2.2rem 2rem;
  transition: all 0.3s ease;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
  box-shadow: none;
  border: none;
  outline: none;
  position: relative;
  z-index: 3;
}
#nav-toggle .lines {
  display: inline-block;
  width: 2rem;
  height: 0.3333333333rem;
  background: #444;
  transition: 0.1s;
  position: relative;
  /*create the upper and lower lines as pseudo-elements of the middle line*/
}
#nav-toggle .lines:before, #nav-toggle .lines:after {
  display: inline-block;
  width: 2rem;
  height: 0.3333333333rem;
  background: #444;
  transition: 0.1s;
  position: absolute;
  left: 0;
  content: '';
  transform-origin: 0.1428571429rem center;
}
#nav-toggle .lines:before {
  top: 7px;
}
#nav-toggle .lines:after {
  top: -7px;
}
#nav-toggle:hover {
  opacity: 1;
}
#nav-toggle:hover .lines:before {
  top: 9px;
}
#nav-toggle:hover .lines:after {
  top: -9px;
}
#nav-toggle:hover.close .lines {
  /*hide the middle line*/
  background: transparent;
  /*overlay the lines by setting both their top values to 0*/
}
#nav-toggle:hover.close .lines:before, #nav-toggle:hover.close .lines:after {
  transform-origin: 50% 50%;
  top: 0;
  width: 2rem;
}
#nav-toggle:hover.close .lines:before {
  transform: rotate3d(0, 0, 1, 45deg);
}
#nav-toggle:hover.close .lines:after {
  transform: rotate3d(0, 0, 1, -45deg);
}
@media (min-width: 1024px) {
  #nav-toggle {
    display: none;
  }
}

#header-search {
  position: absolute;
  top: 1.25rem;
  right: 2rem;
  left: 8rem;
  transition: all 0.3s ease;
}
#header-search.open .close-btn {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -3rem;
  padding: 1.2rem 2rem;
  float: left;
}
#header-search.open form {
  width: 100%;
}
#header-search.open input[type="search"] {
  width: 100%;
  border: 1px solid #eee;
  padding-left: 3rem;
}
@media (min-width: 768px) {
  #header-search {
    width: auto;
  }
}
#header-search .search-submit {
  left: 1rem;
}
@media (min-width: 768px) {
  #header-search .search-submit {
    left: auto;
  }
}
#header-search .close-btn {
  display: none;
}
#header-search form {
  position: absolute;
  transition: all .3s ease;
  width: 2rem;
  right: 0;
}
#header-search input[type="search"] {
  float: right;
  width: 0;
  border: none;
  transition: all 0.3s ease;
}
@media (min-width: 768px) {
  #header-search input[type="search"] {
    width: 20rem;
    border: 1px solid #eee;
  }
}
#header-search input[type="search"]:focus {
  border-color: #d18b00;
}
@media (min-width: 768px) {
  #header-search input[type="search"]:focus {
    width: 24rem;
  }
}

/**
 * partials/nav
 * ---
 * Menus
 */
nav li {
  font-family: "jaf-facitweb", Helvetica, Arial, "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#nav-mobile {
  position: fixed;
  left: 0;
  top: 0;
  width: 30rem;
  background-color: #eee;
  height: 100%;
  z-index: 0;
}
#nav-mobile #nav-contents {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
}
#nav-mobile #nav-logo {
  display: inline-block;
  padding: 2em 0 0 4em;
  width: 70%;
}
#nav-mobile .search {
  padding: 2em 0;
  width: 80%;
  margin: 0 auto;
}
#nav-mobile ul {
  padding: 0;
  margin: 0;
  border-top: 1px dashed #c8c8c8;
}
#nav-mobile li {
  border-bottom: 1px dashed #c8c8c8;
}
#nav-mobile li a {
  position: relative;
  color: #777777;
  padding: 1em 4em;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  transition: all 0.3s ease;
}
#nav-mobile li a:hover {
  color: #444;
  left: 2px;
}
#nav-mobile li a:after {
  box-shadow: none;
}

#nav-social {
  padding: 2em 0 2em 4em;
}
#nav-social .fa {
  display: inline-block;
  padding-right: 2em;
}

#prev-next-links {
  color: #d18b00;
}
#prev-next-links a {
  display: block;
  font-size: 70%;
}
#prev-next-links .fa {
  font-size: 280%;
  vertical-align: middle;
}
#prev-next-links .prev-next-text {
  position: relative;
  top: .25rem;
}
#prev-next-links .next-link {
  float: right;
  width: 50%;
}
#prev-next-links .prev-link {
  float: left;
  width: 50%;
}

/**
 * partials/sidebar
 * ---
 */
.contextual-module {
  background-color: #fafafa;
  padding: 4rem;
  z-index: 1;
}
@media (min-width: 1024px) {
  .contextual-module {
    width: 22.8571428571%;
    float: left;
    margin-right: 2.8571428571%;
    padding: 4rem;
    border-right: 1px dashed #c8c8c8;
    position: fixed;
  }
}
@media (min-width: 1800px) {
  .contextual-module {
    width: 23.4042553191%;
    float: left;
    margin-right: 2.1276595745%;
  }
}
.contextual-module .troper-thumb {
  display: inline-block;
  width: 17%;
  margin-right: 1%;
  margin-top: 1%;
}
.contextual-module .label {
  font-weight: 600;
  color: #444;
}
.contextual-module .value {
  margin-bottom: 1em;
}

/**
 * partials/footer
 * ---
 */
.footer {
  background-color: #eee;
  height: 8rem;
  position: relative;
  z-index: 1;
  padding: 3rem;
}
.footer .copyright {
  text-align: center;
  margin: 0;
}

/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
body {
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-family: "bookmania", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 175%;
  color: #444;
}

p {
  font-size: 112%;
}

.detail {
  font-family: "proxima-nova-condensed", sans-serif;
  font-size: 98%;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

a {
  transition: all .3s ease;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #d18b00;
}

q {
  quotes: "“" "”";
  font-size: 245%;
  padding-right: 0.1em;
  font-style: italic;
  color: #999;
  line-height: 1;
}

.white-btn, button, .btn, input[type="submit"] {
  display: inline-block;
  font-family: "jaf-facitweb", Helvetica, Arial, "Open Sans", sans-serif;
  text-decoration: none;
  color: #444;
  font-size: 0.8em;
  line-height: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1em 2em;
  border: 2px solid #444;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}
.white-btn:hover, button:hover, .btn:hover, input[type="submit"]:hover, .white-btn:focus, button:focus, .btn:focus, input[type="submit"]:focus {
  color: #5e5e5e;
  text-decoration: none;
}
.white-btn:active, button:active, .btn:active, input[type="submit"]:active {
  top: 1px;
}

.white-btn:hover, .white-btn:focus {
  border-radius: 1em;
  color: #444;
}

form input, form textarea {
  border: 1px solid #eee;
  padding: 1em;
  outline: none;
}
form input:focus, form textarea:focus {
  border: 1px solid #eee;
  border-color: #d18b00;
}

fieldset {
  border: none;
}

.dropdown {
  display: none;
  line-height: 1.5;
}
@media (min-width: 1024px) {
  .dropdown {
    display: block;
  }
}

.dropdown-button:after {
  content: ' \25BE';
}
@media (min-width: 1024px) {
  .dropdown-button:after {
    content: "";
  }
}

.dropdown-sublist {
  display: none;
}
@media (min-width: 1024px) {
  .dropdown-sublist {
    display: block;
  }
}
.dropdown-sublist div {
  background-color: #fafafa;
  border-top: 1px dashed #c8c8c8;
  padding-left: 2rem;
}
@media (min-width: 1024px) {
  .dropdown-sublist div {
    background-color: transparent;
    border-top: none;
  }
}
.dropdown-sublist .fa {
  padding-right: .25em;
}
.dropdown-sublist label {
  padding: 1em;
  cursor: pointer;
  display: inline-block;
}
@media (min-width: 1024px) {
  .dropdown-sublist label {
    padding: 0;
  }
}

.dropdown-sublist-title {
  display: block;
  width: 100%;
  padding: 1em;
  border-top: 1px dashed #c8c8c8;
}
@media (min-width: 1024px) {
  .dropdown-sublist-title {
    background-color: transparent;
    border-top: none;
    padding: .5em;
  }
}

.icon {
  fill: #fff;
  position: relative;
  z-index: 2;
  display: inline-block;
  height: 20%;
}

.sdc-icons-container {
  width: 100%;
}

.sdc-icons {
  position: relative;
  width: 100%;
}

.architecture-icon, .graphics-icon, .interiors-icon {
  width: 33.3333%;
}

.architecture-icon {
  height: 8rem;
}

.graphics-icon {
  height: 7rem;
}

.interiors-icon {
  height: 8rem;
}

.mobile-dropdown {
  position: absolute;
  top: 6rem;
  background-color: #fafafa;
  width: 100%;
  height: 6rem;
  line-height: 6rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #eee;
  z-index: 1;
}
.mobile-dropdown.show {
  position: fixed;
}
@media (min-width: 1024px) {
  .mobile-dropdown.show {
    position: static;
  }
}
@media (min-width: 1024px) {
  .mobile-dropdown {
    background-color: transparent;
    position: static;
    height: auto;
    line-height: 1.5;
    box-shadow: none;
    border-bottom: none;
  }
}
.mobile-dropdown h1, .mobile-dropdown h2, .mobile-dropdown p {
  margin: 0;
}
.mobile-dropdown h2 {
  padding-left: 2rem;
}
@media (min-width: 1024px) {
  .mobile-dropdown h2 {
    display: none;
  }
}
.mobile-dropdown + div, .mobile-dropdown + section {
  margin-top: 6rem;
}
@media (min-width: 1024px) {
  .mobile-dropdown + div, .mobile-dropdown + section {
    margin-top: 0;
  }
}
.mobile-dropdown form input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
.mobile-dropdown form input[type="checkbox"]:checked ~ label, .mobile-dropdown form input[type="checkbox"]:checked ~ .fa {
  font-weight: 700;
  color: #d18b00;
}
.mobile-dropdown form legend {
  color: #444;
  font-weight: 700;
}
.mobile-dropdown form button {
  border: none;
  outline: none;
}
@media (min-width: 1024px) {
  .mobile-dropdown form legend {
    padding: 0;
    padding-top: 1rem;
  }
}

#breadcrumbs {
  font-size: 84%;
  z-index: 2;
  margin-top: 0;
  position: relative;
  top: -2em;
}
#breadcrumbs .breadcrumb_last {
  color: #444;
}

.mix, .gap {
  display: inline-block;
  width: 100%;
}
@media (min-width: 768px) {
  .mix, .gap {
    width: 47.8260869565%;
  }
}
@media (min-width: 1024px) {
  .mix, .gap {
    width: 31.4285714286%;
  }
}
@media (min-width: 1800px) {
  .mix, .gap {
    width: 23.4042553191%;
  }
}

.mix {
  position: relative;
  display: none;
  text-align: left;
  margin-bottom: 9.0909090909%;
  height: 20rem;
  overflow: hidden;
}
@media (min-width: 768px) {
  .mix {
    margin-bottom: 4.347826087%;
  }
}
@media (min-width: 1024px) {
  .mix {
    margin-bottom: 2.8571428571%;
    height: 20rem;
  }
}
@media (min-width: 1800px) {
  .mix {
    margin-bottom: 2.1276595745%;
  }
}

.search .mix, .archive .mix {
  display: inline-block;
}

.post-type-archive .mix {
  display: none;
}

form.search {
  position: relative;
}
form.search button {
  border: none;
  position: absolute;
  outline: none;
  font-size: 98%;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  padding-right: 1rem;
}
form.search input[type="search"] {
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 0.5em;
  font-size: 98%;
}

.swiftype-widget .autocomplete {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.swiftype-widget .autocomplete ul {
  font-family: "jaf-facitweb", Helvetica, Arial, "Open Sans", sans-serif;
}
.swiftype-widget .autocomplete li p.title {
  font-weight: 300;
  color: #999;
}
.swiftype-widget .autocomplete li p.title em {
  font-weight: 700;
  color: #444;
}
.swiftype-widget .autocomplete li.active {
  background: #d18b00;
  border: none;
  box-shadow: none;
}
.swiftype-widget .autocomplete li.active p.title {
  text-shadow: none;
}
.swiftype-widget .autocomplete li:first-child, .swiftype-widget .autocomplete li:last-child {
  border-radius: 0;
}

.search section {
  border-bottom: 1px dashed #eee;
  margin-top: 2.8571428571%;
}

.single-project .project {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.single-project .project:after {
  content: " ";
  display: block;
  clear: both;
}

.project-details .troper-avatar {
  margin: 1em 0;
  width: 5em;
  height: 5em;
  border-radius: 100%;
}

.project-detail-label {
  font-weight: 600;
  color: #444;
}

.project-contents {
  float: right;
  margin-right: 0;
}
.project-contents:after {
  content: "";
  display: table;
  clear: both;
}

#project-detail-description {
  margin-top: 6rem;
}

.project-testimonial {
  padding-top: 9.0909090909%;
  padding-bottom: 9.0909090909%;
  border-top: 1px dashed #c8c8c8;
  border-bottom: 1px dashed #c8c8c8;
  box-sizing: content-box;
  text-align: center;
  font-family: "adelle", serif;
  font-weight: 100;
  letter-spacing: 1px;
}
.project-testimonial .testimonial-source {
  font-size: 140%;
  color: #444;
  display: block;
}
@media (min-width: 768px) {
  .project-testimonial .testimonial-source {
    display: inline;
  }
}

#filter-reset {
  color: #d18b00;
  font-weight: 400;
  padding-left: 1em;
}
#filter-reset:disabled {
  color: #eee;
}
@media (min-width: 1024px) {
  #filter-reset {
    padding: 1rem 0 0 0;
  }
}

#filter-instructions {
  display: none;
}
@media (min-width: 1024px) {
  #filter-instructions {
    display: block;
    margin-bottom: 1em;
  }
}

#filter-description .category {
  color: #444;
}
#filter-description .value {
  color: #d18b00;
}

.filter {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 2;
}
@media (min-width: 1024px) {
  .filter {
    width: auto;
    position: static;
    height: 100%;
    box-shadow: none;
    top: auto;
    right: auto;
    background-color: transparent;
  }
}

.single-filter {
  padding: 0;
  margin: 0;
}

#projects-index, #people-index {
  text-align: justify;
  padding: 2rem 0;
}
#projects-index:after, #people-index:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.project-thumb {
  display: block;
  filter: grayscale(100%) contrast(70%);
  transform: translate3d(-2rem, 0, 0);
  transition: all 0.3s ease;
  width: calc(100% + 2rem);
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.mix h3 {
  display: block;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: .25rem;
  color: #fff;
  opacity: 0.6;
  margin: 0;
  font-size: 84%;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  transition: all 0.3s ease;
  z-index: 4;
  bottom: -1rem;
  font-family: "proxima-nova-condensed", sans-serif;
  max-width: 20rem;
  left: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 1024px) {
  .mix h3 {
    max-width: 20rem;
  }
}
.mix:hover h3 {
  opacity: 1;
  transform: rotate(0);
  bottom: 1rem;
  left: 1rem;
  white-space: normal;
}
.mix:hover .project-thumb {
  filter: grayscale(0);
  transform: translate3d(0, 0, 0);
}

#people-index .troper {
  display: inline-block;
}
#people-index .troper-name {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 112%;
}

.troper-avatar {
  border-radius: 100%;
}

#home-hero {
  position: relative;
}
#home-hero #home-video-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
#home-hero .logo-img {
  padding: 1em;
  width: 30em;
  max-width: 90%;
}

#home-video {
  display: none;
}
@media (min-width: 768px) {
  #home-video {
    display: block;
  }
}

#home-mobile-image {
  display: block;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  filter: brightness(50%);
}
@media (min-width: 768px) {
  #home-mobile-image {
    display: none;
  }
}

#home-studios-wrapper {
  padding: 2em 0;
}

.home-studio {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 2em;
  text-align: center;
}
@media (min-width: 768px) {
  .home-studio {
    width: 33%;
  }
}

#troper-profile-picture {
  display: block;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
