/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "jaf-facitweb", Helvetica, Arial, "Open Sans", sans-serif;
  font-size: 140%;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: #444;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: underline;
}

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit;
}

::selection {
  background-color: #d18b00;
  color: #fff;
  text-shadow: none;
}

/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Alignment
 */
.alignnone {
  margin: 5px 15px 15px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
  margin: 5px 0 15px 15px;
}

.alignleft {
  float: left;
  margin: 5px 15px 15px 0;
}

/**
 * Gallery & images
 */
.wp-caption {
  background: #fff;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: 5px 5px;
  text-align: center;
}
.wp-caption img {
  width: auto;
  max-width: 98.5%;
  height: auto;
  border: 0 none;
  padding: 0;
  margin: 0;
}

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 5px 5px;
  font-size: 140%;
  line-height: 1.5;
}

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, .clear:after {
  content: " ";
  display: table;
}
.clear:after {
  clear: both;
}

.reset-box {
  padding: 0;
  margin: 0;
}

/**
 * partials/wrapper
 * ---
 */
.l-wrapper {
  position: relative;
  background-color: #fff;
  padding-top: 4em;
  z-index: 1;
  transition: 0.3s;
}
.l-wrapper.is-pushed {
  transform: translate3d(20em, 0, 0);
  box-shadow: -1px 0 10px 0 #ddd;
}

.l-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.l-container:after {
  content: " ";
  display: block;
  clear: both;
}

.l_full {
  width: 100%;
}

.l_two_thirds {
  width: 64.2857142857%;
  float: left;
  margin-right: 7.1428571429%;
}
@media (min-width: 768px) {
  .l_two_thirds {
    width: 65.5172413793%;
    float: left;
    margin-right: 3.4482758621%;
  }
}
@media (min-width: 992px) {
  .l_two_thirds {
    width: 66.1016949153%;
    float: left;
    margin-right: 1.6949152542%;
  }
}

.l_one_half {
  width: 44.4444444444%;
  float: left;
  margin-right: 11.1111111111%;
}
@media (min-width: 768px) {
  .l_one_half {
    width: 48.275862069%;
    float: left;
    margin-right: 3.4482758621%;
  }
}
@media (min-width: 992px) {
  .l_one_half {
    width: 49.1525423729%;
    float: left;
    margin-right: 1.6949152542%;
  }
}

.l_one_third {
  width: 28.5714285714%;
  float: left;
  margin-right: 7.1428571429%;
}
@media (min-width: 768px) {
  .l_one_third {
    width: 31.0344827586%;
    float: left;
    margin-right: 3.4482758621%;
  }
}
@media (min-width: 992px) {
  .l_one_third {
    width: 32.2033898305%;
    float: left;
    margin-right: 1.6949152542%;
  }
}

.last {
  float: right;
  margin-right: 0;
}

/**
 * partials/header
 * ---
 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 1.5em;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 8em;
}

.lines-button {
  display: block;
  margin: 0;
  line-height: 0;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 0;
}
.lines-button.is-pushed {
  left: 0;
}
.lines-button:hover {
  opacity: 1;
}
.lines-button:active {
  transition: 0;
  border: none;
}

.lines {
  display: inline-block;
  width: 2rem;
  height: 0.3333333333rem;
  background: #444;
  transition: 0.1s;
  position: relative;
  /*create the upper and lower lines as pseudo-elements of the middle line*/
}
.lines:before, .lines:after {
  display: inline-block;
  width: 2rem;
  height: 0.3333333333rem;
  background: #444;
  transition: 0.1s;
  position: absolute;
  left: 0;
  content: '';
  transform-origin: 0.1428571429rem center;
}
.lines:before {
  top: 7px;
}
.lines:after {
  top: -7px;
}

.lines-button:hover {
  opacity: 1;
}
.lines-button:hover .lines:before {
  top: 9px;
}
.lines-button:hover .lines:after {
  top: -9px;
}

.lines-button.x.close .lines {
  /*hide the middle line*/
  background: transparent;
  /*overlay the lines by setting both their top values to 0*/
}
.lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
  transform-origin: 50% 50%;
  top: 0;
  width: 2rem;
}
.lines-button.x.close .lines:before {
  transform: rotate3d(0, 0, 1, 45deg);
}
.lines-button.x.close .lines:after {
  transform: rotate3d(0, 0, 1, -45deg);
}

/**
 * partials/nav
 * ---
 * Menus
 */
.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 20em;
  background-color: #eee;
  height: 100%;
}
.nav ul {
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: "jaf-facitweb", Helvetica, Arial, "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 1px dashed #aaa;
}
.nav li a {
  padding: 2em 4em;
  width: 100%;
  height: 100%;
  display: block;
}

/**
 * partials/sidebar
 * ---
 */
/**
 * partials/footer
 * ---
 */
.footer {
  padding: 1em;
  background-color: #eee;
}
.footer .copyright {
  text-align: center;
}

/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
body {
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-family: "adelle", serif;
  font-weight: 600;
}

.white-btn, button, .btn, input[type="submit"] {
  display: inline-block;
  font-family: "jaf-facitweb", Helvetica, Arial, "Open Sans", sans-serif;
  text-decoration: none;
  color: #444;
  font-size: 0.8em;
  line-height: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1em 2em;
  border: 2px solid #444;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}
.white-btn:hover, button:hover, .btn:hover, input[type="submit"]:hover, .white-btn:focus, button:focus, .btn:focus, input[type="submit"]:focus {
  color: #5e5e5e;
  text-decoration: none;
}
.white-btn:active, button:active, .btn:active, input[type="submit"]:active {
  top: 1px;
}

.white-btn:hover, .white-btn:focus {
  border-radius: 1em;
  color: #444;
}

form input, form textarea {
  border: 1px solid #eee;
  padding: 1em;
  outline: none;
}
form input:focus, form textarea:focus {
  border: 1px solid #eee;
  border-color: #d18b00;
}

.project-details {
  margin: 2em 0;
}

.project-detail-label {
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
